:root {
    --menu-bar-width: 60px;
    --menu-bar-height: 10px;
}

#menu {
    background-color: #D84282;
    position: relative;
    top: 20px;
    width: var(--menu-bar-width);
    height: var(--menu-bar-height);
    transition: background-color 1s ease;
}

#menu::before,
#menu::after {
    background-color: #D84282;
    display: block;
    content: "";
    width: var(--menu-bar-width);
    height: var(--menu-bar-height);
    position: absolute;
}

#menu::before {
    left: 0;
    top: -20px;
    transition:
            transform 1s ease,
            top 1s ease;
}

#menu::after {
    left: 0;
    top: 20px;
    transition:
            transform 1s ease,
            top 1s ease;
}

#container {
    width: 60px;
    height: 50px;
    margin: 100px;
}

#container:hover #menu {
    background-color: #ffffff;
}

#container:hover #menu::after {
    transform: rotate(-45deg);
    top: 0;
}

#container:hover #menu::before {
    transform: rotate(45deg);
    top: 0;
}